@import './reset.css';
@import './mdDesign.css';
@import 'highlight.js/styles/github.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
  --main-color: #000;
  --secondary-color: #000;
  /* --secondary-color: #6A7281; */
  --link-color: #000;
  --border-color: #000;
  /* --border-color: #e5e7eb; */
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

/*PCサイズに適用*/
@media screen and(min-width:1024px){
}
/*タブレットサイズに適用*/
@media screen and(max-width:1023px) and(min-width:600px){
}
/*スマホサイズに適用*/
@media screen and(max-width:599px){
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #ffa500;
  z-index: -999;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.2rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  /* margin: 0.8rem 0; */
}

h3 {
  font-size: 1.17rem;
  font-weight: 600;
  margin: 0.6rem 0;
}

p {
  font-size: 1rem;
  display: block;
  /* margin: 0.5rem 0; */
  line-height: 1.6;
}

a {
  color:var(--link-color);
  text-decoration: underline;
  font-size: 1rem;
}

a:hover {
  color: #000a13;
}

h1, h2, h3, p, a {
  letter-spacing: 0.7px;
}

pre {
  white-space: pre-wrap;
}

ul {
  list-style: circle;
  list-style-type: disc;
}

ul li {
  font-size: 1rem;
}

figcaption {
  display: inline-block;
  margin-top: 2px;
  padding: 1px 4px;
  color: #ffa500;
  background-color: #000;
}
